@import "tailwindcss";

@theme {
  --font-family-heading: 'Rubik', sans-serif;
  --font-family-body: 'Open Sans', sans-serif;
}

body {
font-family: var(--font-family-body);
}





h1, h2, h3, h4, h5, h6, .font-heading {
  
  font-family: var(--font-family-heading);
}